doctype html
html
    head
        meta(charset="UTF-8" lang="en")
        block head
    body
        div(class="container" style="width: 300px")
            hr
            block body
            hr
            a(href="#up") Up 
            block footer
