div.tires
    div.tires-images
        div.tires-tire
            img(class="tires-wheel" src="/libs/images/1purple-4505480533013.png")
        div.tires-shadow
            img(class="tires-shadow" src="/libs/images/shadow.png")
    div.tires-text 
        h2.tires-ultra ULTRASOFT PURPLE
        p Совершенно новая шина этого года, имеющая состав резиновой смеси с низким рабочим диапазоном, и предназначенная для использования на узких и извилистых участках трасс, где важно механическое сцепление. Как самая мягкая в гамме, шина очень быстро разогревается, развивает самую высокую скорость, но с другой стороны она имеет самый быстрый износ. Ультрамягкая шина больше предназначена для реализации интересных стратегий во время гонок, чем для квалификаций. Ее фиолетовая маркировка была выбрана в результате голосования среди подписчиков Pirelli в социальных сетях
