doctype html
html
    head
        meta(charset="UTF-8")
        title Home work 18
        link(rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="/style/main.css")
    body
        include components/_tires.pug
        include components/_tires.pug
        include components/_tires.pug
        include components/_tires.pug
        script(src="/libs/js/tires.js")